<%- include("header") -%>

    <div class="box" id="heading">
        <h1><%=listitems%></h1>
    </div>
    <div class="box">
        <form action="/delete" method="post">
            <% item.forEach(function(name){ %>
                <div class='item'>
                    <input name="checkbox" type="checkbox" value="<%=name._id%>" onChange="this.form.submit()">
                    <p><%=name.name%></p>
                </div>

            <% }) %>
            
        </form> 
      

        
    
    <form class='item' action="/" method="post">
        <input name="newitem" type="text" placeholder="New Item">
        <button type="submit" name='button'value=<%=listitems%><>+</button>
    </form>
</div> 
<%- include("footer") -%>
</html>